<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h3 class="text-center">Update Expense</h3>
    </div>
    <form [formGroup]="updateExpenseForm" (ngSubmit)="updateExpense()" class="card-body">
      <div class="form-group">
        <label for="GroupId">Group ID</label>
        <input type="text" class="form-control" formControlName="GroupId" [value]="expenseId" [disabled]>
      </div>
      <div class="form-group">
        <label for="PaidByUserId">Paid By User ID</label>
        <input type="text" class="form-control" formControlName="PaidByUserId" placeholder="Enter User ID who Paid">
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <textarea class="form-control" formControlName="Description" rows="3" placeholder="Enter Expense Description"></textarea>
      </div>
      <div class="form-group">
        <label for="ExpenseCreatedAt">Date</label>
        <input type="date" class="form-control" formControlName="ExpenseCreatedAt">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Update Expense</button>
      </div>
    </form>
  </div>
</div>
